<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>empezar | SportCenter</title>

    <!--  CSS -->
    <link rel="stylesheet" href="../styles/styles.css">

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

</head>
<body>

    <!-- Navegacion -->
    <nav class = "nav">
        <div class="nav__logo">
            <h1> <a class = "nav__link nav__link--logo" href="../index.html">SportCenter</a> </h1>
        </div>

        <input type="checkbox" id="chek">
        <label for="chek" class = "checkbtn">
          <i class = "fa-brands fa-gripfire"></i>
        </label>  
        
        <ul class = "nav__list">
            <li class = "nav__item"><a class = "nav__link" href="alquilar.html">Alquilar</a></li>
            <li class = "nav__item"><a class = "nav__link" href="empezar.html">Empezar</a></li>
            <li class = "nav__item"><a class = "nav__link" href="sobre_nosotros.html">Sobre nosotros</a></li>
            <li class = "nav__item"><a class = "nav__link" href="contacto.html">Contacto</a></li>
        </ul>
    </nav>


    <!-- Header -->
    <header class = "header">
        <div class = "header__content">
            <h2 class = "header__titulo">Conoce nuestros <span>planes</span></h2>
            <p class = "header__subtitulo">Los mejores precios que podras encontrar</p>
            <div class = "header__keydown">
                
            </div> 
        </div>
    </header>


    <main class = "main">
        <div class = "main__titulo">
            <h3>Planes</h3>
        </div>
        <div class = "main__contenedor">
            <div class="card">
                <h1 class = "card__titulo">Titulo del plan</h1>
                <ul class = "card__list">
                    <li class = "card__items">Item 1</li>
                    <li class = "card__items">Item 2</li>
                    <li class = "card__items">Item 3</li>
                    <li class = "card__items">Item 4</li>
                </ul>
            </div>
            <div class="card">
                <h1 class = "card__titulo">Titulo del plan</h1>
                <ul class = "card__list">
                    <li class = "card__items">Item 1</li>
                    <li class = "card__items">Item 2</li>
                    <li class = "card__items">Item 3</li>
                    <li class = "card__items">Item 4</li>
                </ul>
            </div>
            <div class="card">
                <h1 class = "card__titulo">Titulo del plan</h1>
                <ul class = "card__list">
                    <li class = "card__items">Item 1</li>
                    <li class = "card__items">Item 2</li>
                    <li class = "card__items">Item 3</li>
                    <li class = "card__items">Item 4</li>
                </ul>
            </div>
        </div>
    </main>
    
    <footer class="footer">Copyright SportCenter</footer>








</body>
</html>