/* botones */
.button {
    background: transparent;
    border: none;
    color: var(--color-amarillo);
    text-transform: lowercase;
    font-size: 1.3em;
    letter-spacing: .3em;
    transition: all .8s ease;
    z-index: 1000;

    &__i {
        font-size: .7em;
    }

    &:hover {
        letter-spacing: .4em;
    }
}
/* botones */