/* custom scrollbar */
* {
    scrollbar-width: auto;
    scrollbar-color: map-get($colores , amarillo ) map-get($colores, blanco);
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #fffdf7;
}

*::-webkit-scrollbar-thumb {
    background-color: map-get($colores, amarillo);
    border-radius: 10px;
    border: 4px solid map-get($colores, blanco );
}

/* custom scrollbar */