/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


/* Resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    overflow-x: hidden;
}

/* Variables */
:root {
    --color-amarillo: #fdb833;
    --color-blanco: #fffdf7;
    --color-negro: #090909;
}

.amarillo {
    color: var(--color-amarillo);
}

.background-negro {
    background-color: var(--color-negro);
}

.back-negro {
    background: url('../img/back.svg') center / cover;
}

.min-vh-50 {
    min-height: 50vh;
}

.vh-100-sp {
    min-height: 90vh;
}

.vh-70 {
    min-height: 70vh;
}

.min-vh-80 {
    min-height: 70vh;
}

.sobra-negra:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #090909;
    filter: opacity(80%);

    z-index: 10;
}



/* Textos - subtitulos */
.p {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-blanco);
    /* max-width: 65%; */
    margin: 1.3rem 4rem;
}

.p--section {
    width: 85%;
    text-align: left;
    padding: 0;
    margin: 2rem 0;
}

.p--header {
    font-size: 1.8em;
    letter-spacing: .4rem;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.p--footer {
    font-size: 1.2em;
    font-weight: 100;
    color: var(--color-blanco);
    margin: 1rem 0;
}

.l-s {
    letter-spacing: .1em;
    font-weight: 300;
}

.p--card {
    color: var(--color-amarillo);
    padding-top: 1.2rem;
    font-size: 1.5em;
    font-weight: 400;
}

/* textos - subtitulos */



/* Titulos */
.title {
    font-size: 8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-blanco);
}

.title-footer {
    font-size: 2em;
    font-weight: 900;
    color: var(--color-amarillo);
}

.title--foter2 {
    font-size: 1.2em;
    font-weight: 400;
    letter-spacing: .1em;
    color: var(--color-amarillo);
}

.title--header {
    padding: .5rem 0;
}

.title--banner {
    font-size: 2.5em;
}

.title--emepzar {
    font-size: 6em;
    padding: 1.8rem 0;
}

.title--section {
    font-size: 5em;
    text-align: left;
}

/* titulos */



/* botones */
.button {
    background: transparent;
    border: none;
    color: var(--color-amarillo);
    text-transform: lowercase;
    font-size: 1.3em;
    letter-spacing: .3em;
    transition: all .8s ease;
    z-index: 1000;
}

.button:hover {
    letter-spacing: .4em;
}

.button__i {
    font-size: .7em;
}

/* botones */



/* nav */
.navbar {
    z-index: 1000;
    min-height: 8vh;
}

.nav-link-juan {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #fffdf7;
    padding: 0 2.5rem;
    transition: all 1s;
}

.nav-brand-juan {
    font-weight: 800;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--color-amarillo);
    letter-spacing: .02em;
}

/* nav */



/* header */
.header {
    background: url("../img/background.jpg") no-repeat right / cover fixed;
    z-index: -1;
}

.header--empezar {
    background: url("../img/samantha-gades-k95uqdEe8R4-unsplash.jpg") no-repeat right / cover;
}

.header__content {
    z-index: 100;
}

/* header */





/* section */
.section__img {
    position: relative;
    width: 45rem;
    z-index: 100;
    border-radius: 2rem;
    padding: 0 2rem 0 0;
}

.cedes {
    /* border-radius: 7%; */
    border:  20px solid var(--color-amarillo);
}

/* section */



/* banner */
.banner {
    background-color: var(--color-negro);
    z-index: -1;
}

.banner__content {
    z-index: 1000;
}

.banner--fondo2 {
    background: url("../img/banner1.jpg") no-repeat center / cover;
}

.banner--fondo1 {
    background: url("../img/banner2.jpg") no-repeat center / cover;
}

/* banner */


/* card */
.cardsp {
    width: 350px;
    height: 550px;
    background-color: var(--color-amarillo);
    border-radius: 4%;
}

.cardsp__top {
    min-height: 30%;
    background-color: var(--color-blanco);
}

.cardsp__content {
    min-height: 50%;
    background-color: aqua;
}

.cardsp__footer {
    min-height: 20%;
    background-color: antiquewhite;
}

/* card */



/* footer */

.footer {
    background-color: var(--color-negro);
}

.footer__bottom {
    background-color: var(--color-negro);
    min-height: 7vh;
}

.footer__footerline {
    background-color: var(--color-amarillo);
    min-height: .3rem;
}

.footer__top {
    background-color: var(--color-negro);
    min-height: 40vh;
}

/* footer */


/* rrs */
.rss__li {
    padding: 0 2rem;
    color: var(--color-amarillo);
    font-size: 1.4rem;
}

/* rrs */


/* custom scrollbar */
* {
    scrollbar-width: auto;
    scrollbar-color: #fdb533 #fffdf7;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #fffdf7;
}

*::-webkit-scrollbar-thumb {
    background-color: #fdb533;
    border-radius: 10px;
    border: 4px solid #ffffff;
}

/* custom scrollbar */



/* Responsive */

@media (min-width: 1200px) and (max-width: 1400px) {
    .p {
        font-size: 1.2rem;
        margin: 1.3rem 2.5rem;
    }

    .p--header {
        font-size: 1.5em;
        letter-spacing: .4rem;
        text-transform: uppercase;
        padding: 0 0;
    }

    .p--section {
        text-align: center;
    }

    .title {
        font-size: 7em;
    }

    .title--banner {
        font-size: 1.8em;
    }

    .title--section {
        font-size: 2.5em;
        text-align: center;
    }

    .button {
        letter-spacing: .3rem;
        font-size: 1em;
    }

    .section__img {
        width: 35rem;
    }

    .section__cuadrado {
        width: 14rem;
        height: 22rem;
    }


    .p--footer {
        font-size: 1.2em;
        margin: .2rem 0;
    }

    .title-footer {
        font-size: 2em;
        font-weight: 900;
        color: var(--color-amarillo);
    }

    .title--foter2 {
        font-size: 1.5em;
    }

    .rss__li {
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }

    .section__img {
        min-width: 14rem;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .p {
        font-size: 1rem;
        padding: .5rem 0;
        margin: 1.3rem 2.5rem;
    }

    .p--section {
        text-align: center;
        margin: 0;
        text-align: center;
    }

    .p--header {
        font-size: 1.5em;
        letter-spacing: .4rem;
        text-transform: uppercase;
        padding: 0 0;
    }

    .title {
        font-size: 7em;
    }

    .title--banner {
        font-size: 1.5em;
    }

    .title--section {
        font-size: 2.5em;
        text-align: center;
    }

    .button {
        letter-spacing: .3rem;
        font-size: 1.2em;
    }

    .section__img {
        width: 28rem;
    }

    .section__cuadrado {
        width: 15rem;
        height: 22rem;
    }

    .p--footer {
        font-size: 1.2em;
        margin: .2rem 0;
    }

    .title-footer {
        font-size: 3em;
        font-weight: 900;
        color: var(--color-amarillo);
    }

    .title--foter2 {
        font-size: 1.5em;
    }

    .rss__li {
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }


    .section__img {
        min-width: 14rem;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .p {
        font-size: 1.2rem;
        margin: 1rem 2.5rem;
        padding: 1.5rem 0;
    }

    .p--header {
        font-size: 1em;
        margin: 0;
        letter-spacing: .3em;
    }

    .p--section {
        text-align: center;
        margin: 0;
    }

    .title--section {
        font-size: 2em;
        text-align: center;
    }

    .title {
        font-size: 5em;
    }

    .title--banner {
        font-size: 2em;
    }

    .title--section {
        font-size: 2.3em;
    }

    .button {
        letter-spacing: .3rem;
        font-size: 1.1em;
    }

    .section__img {
        width: 22rem;
        border-radius: 1rem;
        padding: 0;
    }


    .p--footer {
        font-size: 1.2em;
        margin: .2rem 0;
    }

    .title-footer {
        font-size: 3em;
        font-weight: 900;
        color: var(--color-amarillo);
    }

    .title--foter2 {
        font-size: 1.5em;
    }

    .rss__li {
        padding: 0 1.5rem;
        font-size: 1.5rem;
    }

    .min-vh-50 {
        min-height: 150vh;
    }
}

@media (max-width: 576px) {

    .p {
        font-size: 1rem;
        margin: 0rem 2rem;
        padding: 1rem 0;
    }

    .p--header {
        font-size: .65em;
        margin: 0;
        letter-spacing: .2em;
        padding: 0;
    }

    .p--section {
        text-align: center;
        margin: 0;
    }

    .title {
        font-size: 3.2em;
    }

    .title--banner {
        font-size: 1.5em;
    }

    .title--section {
        font-size: 2em;
        text-align: center;
    }

    .p--footer {
        font-size: 1em;
        margin: .2rem 0;
    }

    .title-footer {
        font-size: 2em;
        font-weight: 900;
        color: var(--color-amarillo);
    }

    .title--foter2 {
        font-size: 1.2em;
    }

    .rss__li {
        padding: 0 .5rem;
        font-size: 1rem;
    }


    .button {
        letter-spacing: .2rem;
        font-size: .8em;
    }

    .section__img {
        width: 18rem;
        border-radius: 1rem;
        padding: 0;
    }

    .section__img:hover {
        width: 9rem;
    }

    .min-vh-50 {
        min-height: 150vh;
    }


}

/* ./Responsive */